{% extends 'base.html' %}
{% block content %}
<h5>
    <p>
        This is a Face recognition final year project developed by me and my friends.
        <br>
        Inspired by Microsoft Face API,
        <br>
        It detects the face present in the Image file uploaded from the Images in the dataset.
    </p>
</h5>
<br>
<br>
<br>
<footer class="footer">
    <h6>
       <h4>Contact:</h4>
        170040132@kluniversity.in
        <br>
        170040742@kluniversity.in
        <br>
        170041047@kluniversity.in
    </h6>
</footer>
{% endblock %}
